<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<div class="col-md-12">
<h1>Personal Information</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="Integer" name="PhoneNum" class="form-control" ng-model="user.CV.telephone" required>
        </div>

		  <div class="form-group">
          <label>Address</label>
          <input type="text" name="Address" class="form-control" ng-model="user.CV.address" required>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="Email" name="Email" class="form-control" ng-model="user.CV.Email" required>
        </div>

		  <div class="form-group">
          <label>Website(s)-Blogs</label>
          <input type="text" name="blogs" class="form-control" ng-model="user.CV.blogs" required>
        </div>

        <div class="form-group">
          <label>Instant messaging</label>
          <input type="Instant_messaging" name="Instant_messaging" class="form-control" ng-model="user.Instant_messaging" required>
        </div>

        <div class="form-group">
          <label>Citizenship</label>
          <input type="Citizenship" name="Citizenship" class="form-control" ng-model="user.Citizenship" required>
        </div>
</form>
</div>


<div class="col-md-12">
<h1>EDUCATION</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

 
        <div class="form-group" >

        		<div class="form-group">
          			<label>From</label>
          			<input type="text" name="From" class="form-control" ng-model="user.CV.education.From" required>

          			<label>To</label>
          			<input type="text" name="To" class="form-control" ng-model="user.CV.education..To" required>
          	</div>
        </div>

		    <div class="form-group">
          <label>School</label>
          <input type="text" name="School" class="form-control" ng-model="user.CV.education..School" required>
        </div>

        <div class="form-group">
          <label>Title of qualification awarded:</label>
          <input type="text" name="Titlequali" class="form-control" ng-model="user.CV.education..TitlDeploma" required>
        </div>

		    <div class="form-group">
          <label>Grade</label>
          <input type="text" name="grade" class="form-control" ng-model="user.CV.education..Grade" required>
        </div>

 
  <button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
  <button type="button" ng-click="addFields()" class="btn">Add Education</button>
</form>
</div>




<div class="col-md-12">
<h1>ACHIEVEMENTS AND AWARDS</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

  
        <div class="form-group">
          	<label>Year</label>
          	<input type="int" name="Year" class="form-control" ng-model="user.CV.AchievAwards.Year" required>
         </div>
        

        <div class="form-group">
          	<label>Title</label>
          	<input type="text" name="Title" class="form-control" ng-model="user.CV.AchievAwards.Title" required>
        </div>
        <div class="form-group">
          	<label>Description</label>
          	<textarea  type="text" name="Description" class="form-control" ng-model="user.CV.AchievAwards.Description" required>
            </textarea>
        </div>
  <button type="button" ng-click="removeItem(item)" class="btn">Remove Item</button>
  <button type="button" ng-click="addFields()" class="btn">Add Education</button>     
</form>
</div>

<div class="col-md-12">
<h1>ACADEMIC ADMINISTRATION</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

        <div class="form-group" >
        	<div class="form-group">
          		<label>From</label>
          		<input type="text" name="From1" class="form-control" ng-model="user.CV.AcademicAdmin.From" required>

          		<label>To</label>
          		<input type="text" name="To1" class="form-control" ng-model="user.CV.AcademicAdmin.To" required>
          	</div>
        </div>

        <div class="form-group" >
          	<label>Title</label>
          	<input type="text" name="Title1" class="form-control" ng-model="user.CV.AcademicAdmin.Title" required>	 
        </div>
  <button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
  <button type="button" ng-click="addFields()" class="btn">Add New</button>  
</form>
</div>

<div class="col-md-12">
<h1>TEACHING EXPERIENCE</h1>
</div>

<div class="col-md-6">
<form class="form" name="TeachingExp" ng-submit="createcv(form)" novalidate>
       
        	<div class="form-group">
          	<label>From</label>
          	<input type="text" name="From" class="form-control" ng-model="user.CV.TeachingExp.From" required>

          	<label>To</label>
          	<input type="text" name="To1" class="form-control" ng-model="user.CV.TeachingExp.To" required>
          </div>
       
          <div class="form-group">
            <label>School</label>
            <input type="text" name="School" class="form-control" ng-model="user.CV.TeachingExp.School" required>
          </div>

        <div class="form-group" >
          	<label>Title</label>
          	<input type="text" name="Title" class="form-control" ng-model="user.CV.TeachingExp.Title" required>	 
        </div>  
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>

<div class="col-md-12">
<h1>RESEARCH EXPERIENCE</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          		<label>From</label>
          		<input type="text" name="From" class="form-control" ng-model="user.CV.ResearchExp.From" required>

          		<label>To</label>
          		<input type="text" name="To" class="form-control" ng-model="user.CV.ResearchExp.To" required>
        </div>
        

      <div class="form-group">
          <label>School</label>
          <input type="text" name="School" class="form-control" ng-model="user.CV.ResearchExp.School" required>
      </div>
  
      <div class="form-group" >
          <label>Title</label>
          <input type="text" name="Title" class="form-control" ng-model="user.CV.ResearchExp.Title1" required>	 
      </div>  
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>

<div class="col-md-12">
<h1>REFERENCE LETTERS</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>First Name</label>
          	<input type="text" name="FirstName" class="form-control" ng-model="user.CV.letters.FirstName" required>
         </div>

        <div class="form-group">
          	<label>LastName</label>
          	<input type="text" name="LastName" class="form-control" ng-model="user.CV.letters.LastName" required>
        </div>
        
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" name="PhoneNum" class="form-control" ng-model="user.CV.letters.PhoneNum" required>
        </div>

          
        <div class="form-group" >
          	<label>Email</label>
          	<input type="text" name="Email" class="form-control" ng-model="user.CV.letters.Email" required>	 
        </div>  
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>


<div class="col-md-12">
<h1>SCIENTIFIC MAGAZINES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Magazine Name</label>
          	<input type="text" name="MagazineName" class="form-control" ng-model="user.CV.ScientMagazines.MagazineName" required>
         </div>

          <div class="form-group">
          	<label>ArticleName</label>
          	<input type="text" name="ArticleName" class="form-control" ng-model="user.CV.ScientMagazines.ArticleName" required>
         </div>
        
		<div class="form-group">
          <label>Edition of Magazine</label>
          <input type="text" name="Edition" class="form-control" ng-model="user.CV.ScientMagazines.Edition" required>
        </div>

        <div class="form-group" >
          	<label>Year</label>
          	<input type="text" name="Year" class="form-control" ng-model="user.CV.ScientMagazines.Year" required>	 
        </div>  
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>


<div class="col-md-12">
<h1>CONFERENCES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Conference Name</label>
          	<input type="text" name="ConfName" class="form-control" ng-model="user.CV.Conferences.ConfName" required>
         </div>

          <div class="form-group">
          	<label>Year</label>
          	<input type="text" name="Year" class="form-control" ng-model="user.CV.Conferences.Year" required>
         </div>
        
		  <div class="form-group">
          <label>Location</label>
          <input type="text" name="Location" class="form-control" ng-model="user.CV.Conferences.Location" required>
      </div>
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button> 
</form>
</div>

<div class="col-md-12">
<h1>RESEARCH INTERESTS</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Sector</label>
          	<input type="text" name="Sector" class="form-control" ng-model="user.CV.ResearchInter.Sector" required>
         </div>

          <div class="form-group">
          	<label>Comments</label>
          	<input type="text" name="Comments" class="form-control" ng-model="user.CV.ResearchInter.Comments" required>
         </div>
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>

<div class="col-md-12">
<h1>LANGUAGES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          		<label>Languages</label>
          		<input type="text" name="languages" class="form-control" ng-model="user.CV.Languages.from" required>
        </div>

		<div class="form-group">
          <label>Level</label>
          <input type="text" name="level" class="form-control" ng-model="user.CV.Languages.School" required>
        </div>
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>


<div class="col-md-12">
<h1>SCIENTIFIC ACTIVITITES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Description</label>
          	<textarea type="text" name="Description" class="form-control" ng-model="user.CV.ScientActiv.Description" required>
            </textarea>  
        </div>
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>


<div class="col-md-12">
<h1>TRAINING COURSES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Name of Seminar</label>
          	<input type="text" name="NameSeminar" class="form-control" ng-model="user.CV.TrainingCourse.NameSeminar" required>
         </div>

     	 <div class="form-group">
          	<label>Year</label>
          	<input type="text" name="Year" class="form-control" ng-model="user.CV.TrainingCourse.Year" required>
         </div>
<button type="button" ng-click="removeItem(item)" class="btn">Remove</button>
<button type="button" ng-click="addFields()" class="btn">Add New</button>
</form>
</div>

<div class="col-md-12">
<div ng-repeat="item in CV.education.items">
  <div class="form-group">
  <label>From</label>
  <input type="string" ng-model="item.from" class="form-control"/>
  <label>Item price {{item.id}}</label>
  <input type="text" ng-model="item.price" class="form-control"/>
  </div>
<button type="button" ng-click="removeItem(item)" class="btn">Remove Item</button>
</div>

<div class="col-md-12">
    <div>
          <a class="btn btn-inverse btn-lg btn-login" href="/mycv">
            Save
          </a>
  </div>
</div>

</div>

