<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<div class="col-md-12">
<h1>Personal Information</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

        <div class="form-group">
          <label>Phone Number</label>

          <input type="Phone Number" name="PhoneNum" class="form-control" ng-model="user.PhoneNum" required>
        </div>

		<div class="form-group">
          <label>Address</label>

          <input type="Address" name="Address" class="form-control" ng-model="user.Address" required>
        </div>

        <div class="form-group">
          <label>Email</label>

          <input type="Email" name="Email" class="form-control" ng-model="user.Email" required>
        </div>

		<div class="form-group">
          <label>Website(s)-Blogs</label>

          <input type="blogs" name="blogs" class="form-control" ng-model="user.blogs" required>
        </div>

        <div class="form-group">
          <label>Instant messaging</label>

          <input type="Instant_messaging" name="Instant_messaging" class="form-control" ng-model="user.Instant_messaging" required>
        </div>

        <div class="form-group">
          <label>Citizenship</label>

          <input type="Citizenship" name="Citizenship" class="form-control" ng-model="user.Citizenship" required>
        </div>
</form>
</div>


<div class="col-md-12">
<h1>EDUCATION</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

	
        <div class="form-group" >
        	
        		<div class="form-group">
          			<label>From</label>

          			<input type="From" name="From" class="form-control" ng-model="user.From" required>

          			<label>To</label>

          			<input type="To" name="To" class="form-control" ng-model="user.To" required>

          		 </div>
          		 
          	
        </div>


		<div class="form-group">
          <label>School</label>

          <input type="School" name="School" class="form-control" ng-model="user.School" required>
        </div>


        <div class="form-group">
          <label>Title of qualification awarded:</label>

          <input type="Titlequali" name="Titlequali" class="form-control" ng-model="user.Titlequali" required>
        </div>

		<div class="form-group">
          <label>Grade</label>

          <input type="grade" name="grade" class="form-control" ng-model="user.grade" required>
        </div>
</form>
</div>




<div class="col-md-12">
<h1>ACHIEVEMENTS AND AWARDS</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

  
        <div class="form-group">
          	<label>Year</label>

          	<input type="Year" name="Year" class="form-control" ng-model="user.Year" required>
         </div>
        

        <div class="form-group">
          	<label>Title</label>

          	<input type="Title" name="Title" class="form-control" ng-model="user.Title" required>
        </div>
        <div class="form-group">
          	<label>Description</label>

          	<input texttype="Description" name="Description" class="form-control" ng-model="user.Description" required>
        </div>
      

</form>
</div>

<div class="col-md-12">
<h1>ACADEMIC ADMINISTRATION</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>

        <div class="form-group" >
        	
        	<div class="form-group">
          		<label>From</label>

          		<input type="From1" name="From1" class="form-control" ng-model="user.From1" required>

          		<label>To</label>

          		<input type="To1" name="To1" class="form-control" ng-model="user.To1" required>
          	</div>
        </div>


        <div class="form-group" >
          	<label>Title</label>

          	<input type="Title1" name="Title1" class="form-control" ng-model="user.Title1" required>	 
        </div>  

</form>
</div>

<div class="col-md-12">
<h1>TEACHING EXPERIENCE</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		<label>{{user.teachings}}</label>
        <div class="form-group" ng-repeat="teaching in user.teachings">
        	
        	<div class="form-group">
          		<label>From</label>

          		<input type="From1" name="From1" class="form-control" ng-model="user.teaching.from" required>

          		<label>To</label>

          		<input type="To1" name="To1" class="form-control" ng-model="user.To1" required>
          	</div>
        </div>

        <a class="btn btn-facebook" ng-click='addThing()'>
            <i class="fa fa-facebook"></i> {{message}}
          </a>
<div class="form-group">
          <label>School</label>

          <input type="School" name="School" class="form-control" ng-model="user.School" required>
        </div>


        <div class="form-group" >
          	<label>Title</label>

          	<input type="Title1" name="Title1" class="form-control" ng-model="user.Title1" required>	 
        </div>  

</form>
</div>





<div class="col-md-12">
<h1>RESEARCH EXPERIENCE</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		<label>{{user.teachings}}</label>
        <div class="form-group" ng-repeat="teaching in user.teachings">
        	
        	<div class="form-group">
          		<label>From</label>

          		<input type="From1" name="From1" class="form-control" ng-model="user.teaching.from" required>

          		<label>To</label>

          		<input type="To1" name="To1" class="form-control" ng-model="user.To1" required>
          	</div>
        </div>

        <a class="btn btn-facebook" ng-click='addThing()'>
            <i class="fa fa-facebook"></i> {{message}}
          </a>
<div class="form-group">
          <label>School</label>

          <input type="School" name="School" class="form-control" ng-model="user.School" required>
        </div>

          
        <div class="form-group" >
          	<label>Title</label>

          	<input type="Title1" name="Title1" class="form-control" ng-model="user.Title1" required>	 
        </div>  

</form>
</div>

<div class="col-md-12">
<h1>REFERENCE LETTERS</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		<label>{{user.teachings}}</label>
        <div class="form-group">
          	<label>First Name</label>

          	<input type="FirstName" name="FirstName" class="form-control" ng-model="user.FirstName" required>
         </div>

          <div class="form-group">
          	<label>LastName</label>

          	<input type="LastName" name="LastName" class="form-control" ng-model="user.LastName" required>
         </div>
        
<div class="form-group">
          <label>Phone Number</label>

          <input type="School" name="PhoneNum" class="form-control" ng-model="user.PhoneNum" required>
        </div>

          
        <div class="form-group" >
          	<label>Email</label>

          	<input type="Email" name="Email" class="form-control" ng-model="user.Email" required>	 
        </div>  

</form>
</div>


<div class="col-md-12">
<h1>SCIENTIFIC MAGAZINES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Magazine Name</label>

          	<input type="MagazineName" name="MagazineName" class="form-control" ng-model="user.MagazineName" required>
         </div>

          <div class="form-group">
          	<label>ArticleName</label>

          	<input type="ArticleName" name="ArticleName" class="form-control" ng-model="user.ArticleName" required>
         </div>
        
		<div class="form-group">
          <label>Edition of Magazine</label>

          <input type="Edition" name="Edition" class="form-control" ng-model="user.Edition" required>
        </div>

          
        <div class="form-group" >
          	<label>Year</label>

          	<input type="Year" name="Year" class="form-control" ng-model="user.Year" required>	 
        </div>  

</form>
</div>


<div class="col-md-12">
<h1>CONFERENCES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		<label>{{user.teachings}}</label>
        <div class="form-group">
          	<label>Conference Name</label>

          	<input type="ConfName" name="ConfName" class="form-control" ng-model="user.ConfName" required>
         </div>

          <div class="form-group">
          	<label>Year</label>

          	<input type="Year" name="Year" class="form-control" ng-model="user.Year" required>
         </div>
        
		<div class="form-group">
          <label>Location</label>

          <input type="Location" name="Location" class="form-control" ng-model="user.Location" required>
        </div>
 

</form>
</div>

<div class="col-md-12">
<h1>RESEARCH INTERESTS</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Sector</label>

          	<input type="Sector" name="Sector" class="form-control" ng-model="user.Sector" required>
         </div>

          <div class="form-group">
          	<label>Comments</label>

          	<input type="Comments" name="Comments" class="form-control" ng-model="user.Comments" required>
         </div>
        

</form>
</div>

<div class="col-md-12">
<h1>LANGUAGES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		<label>{{user.teachings}}</label>
        <div class="form-group" ng-repeat="teaching in user.teachings">
        	
        	<div class="form-group">
          		<label>Languages</label>

          		<input type="From1" name="From1" class="form-control" ng-model="user.teaching.from" required>

          		
          	</div>
        </div>

        <a class="btn btn-facebook" ng-click='addThing()'>
            <i class="fa fa-facebook"></i> {{message}}
          </a>
		<div class="form-group">
          <label>Level</label>

          <input type="School" name="School" class="form-control" ng-model="user.School" required>
        </div>
 

</form>
</div>


<div class="col-md-12">
<h1>SCIENTIFIC ACTIVITITES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Description</label>

          	<input type="Description" name="Description" class="form-control" ng-model="user.Description" required>
         </div>
     

</form>
</div>


<div class="col-md-12">
<h1>TRAINING COURSES</h1>
</div>

<div class="col-md-6">
<form class="form" name="form" ng-submit="createcv(form)" novalidate>
		
        <div class="form-group">
          	<label>Name of Seminar</label>

          	<input type="NameSeminar" name="NameSeminar" class="form-control" ng-model="user.NameSeminar" required>
         </div>
     	 <div class="form-group">
          	<label>Year</label>

          	<input type="Year" name="Year" class="form-control" ng-model="user.Year" required>
         </div>

</form>
</div>


</div>

